<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="useEmail" value="true" />
    <add key="organization" value="Astronaut EHR" />
    <add key="inviteSubject" value="Followup Appointment" />
    <add key="userEmail" value="faisalsami78@gmail.com" />
    <add key="address" value="ABC Street" />
    <add key="phone" value="+92-321-415-2543" />
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="smtpPort" value="25" />
    <add key="userPassword" value="lyhlobkkvvqieebd" />
    <add key="enableSSL" value="true" />
  </appSettings>
</configuration>